<div style="clear: both"/>
<hr>
    <footer id="footer">
        <p class="pull-right"><a title="Вернуться к началу" href="#top">Вернуться к началу</a></p>
        <nav class="links">
            <ul>
                <li class="col">
                    <h4>Bow ties shop:</h4>
                    <ul class="list">
                        <% for(var i=0; i<menu.length; i++) { %>
                            <li><a href="<%= menu[i].link %>" title="<%= menu[i].name %>"><%= menu[i].name %></a></li>
                        <% } %>
                    </ul>
                </li>
                <li class="col">
                    <h4>Ищите нас:</h4>
                    <ul class="list">
                        <% for(var i=0; i<socials.length; i++) { %>
                        <li>
                            <a title="<%= socials[i].name %>" href="<%= socials[i].link %>" class="social-<%= socials[i].name %>" target="_blank" rel="nofollow">
                                <img src="<%= socials[i].img %>" title="<%= socials[i].name %>" alt="<%= socials[i].name %>"
                                     width="35px" height="35px" style="height: 35px;width:35px" />
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </li>
            </ul>
        </nav>
    </footer>
    <div class="dialog-login" style="display: none">
        <div>
            <form class="dialog-body" novalidate="" id="login-form" action="<%= login.link %>" method="post">
                <div class="controls">
                    <label class="control-label" for="email"><strong>Почта</strong></label>
                    <input class="input-xlarge" type="email" spellcheck="false" name="email" id="email" value="">
                    <p class="help-block"></p>
                </div>
                <div id='block-passwd' class="controls">
                    <label class="control-label" for="passwd"><strong>Пароль</strong></label>
                    <input class="input-xlarge" type="password" name="passwd" id="passwd" value="">
                </div>
                <p class="error" id="error-block"></p>
                <!--<a id="login-submit"  type="submit" class="btn btn-primary">Войти</a>-->
                <button id="login-submit" class="btn btn-primary">Войти</button>
                <div style="float: right; margin-top: 10px">
                    <!--<label class="checkbox"><input type="checkbox" id="remember-me" value="">Оставаться в системе</label>-->
                    <!--<input type="hidden" name="rmShown" value="1">-->
                    <a id="link-forgot-passwd" href="#" target="_top">Забыли пароль?</a>
                </div>
            </form>

        </div>
    </div>
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
<script src="http://malsup.github.io/jquery.blockUI.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var dial;
    $(window).load(function(){
        init();
        dial = $("#login-form");
        dial.validate({
            rules: {
                passwd: {
                    required: true,
                    minlength: 5
                },
                email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                passwd: {
                    required: "Пожалуйста введите пароль",
                    minlength: "Ваш пароль не должн быть меньше 5-ти символов"
                },
                email: "Пожалуйста введите корректный почтовый адрес",
            }
        });
    });
    $('a#login').click(function(){
        createEmailDialog("Войти",'<%= login.link %>');
        $('#block-passwd').show();
        $('a#link-forgot-passwd').show();
        $('#login-submit').text('Войти');
       // $.blockUI({ message: dial});
        dial.dialog("open");
    });
    $('a#link-forgot-passwd').click(function(){
        dial.dialog("close");
        createEmailDialog("Отправка пароля",'/auth/login/forgot_passwd/');
        $('#login-submit').text('Отправить');
        $('#block-passwd').hide();
        $(this).hide();
        dial.dialog("open");
    });
    $('#login-submit').click(function(){
        $('#error-block').text('');
        if(!$('#login-form').valid()){ return; }
        dial.submit(onSubmitLoginForm);
        dial.submit();
        return false;
    });


    function createEmailDialog(title,action) {
        //var d = $('dialog-login');
        dial.attr('action',action);
        dial.dialog({
            title: title,
            modal: true,
            width: "350px",
            autoOpen: false,
            dialogClass: "main-dialog"
        });
    };
    function onSubmitLoginForm() {
        $.blockUI({message: '<h4>Пожалуйста подождите.</h4>'});
//        $.blockUI({ css: {
//            border: 'none',
//            padding: '15px',
//            backgroundColor: '#000',
//            '-webkit-border-radius': '10px',
//            '-moz-border-radius': '10px',
//            opacity: .5,
//            color: '#fff'
//        } });
        $.ajax({
            url: dial.attr('action'),
            type: dial.attr('method'),
            data: dial.serialize(),
            async: true,
            success: function (result) {
                if (result.success) {
                    dial.dialog("close");
                    $.unblockUI();
                    location.reload();
                } else {
                    $('#error-block').text(result.error);
                    $('#passwd').val('');
                    $.unblockUI();
                }
            }
        });
        return false;
    }
</script>