<div style="clear: both"/>
<hr>
    <footer id="footer">
        <p class="pull-right"><a title="Вернуться к началу" href="#top">Вернуться к началу</a></p>
        <nav class="links">
            <ul>
                <li class="col">
                    <h4>Bow ties shop:</h4>
                    <ul class="list">
                        <% for(var i=0; i<menu.length; i++) { %>
                            <li><a href="<%= menu[i].link %>" title="<%= menu[i].name %>"><%= menu[i].name %></a></li>
                        <% } %>
                    </ul>
                </li>
                <li class="col">
                    <h4>Ищите нас:</h4>
                    <ul class="list">
                        <% for(var i=0; i<socials.length; i++) { %>
                        <li>
                            <a title="<%= socials[i].name %>" href="<%= socials[i].link %>" class="social-<%= socials[i].name %>" target="_blank" rel="nofollow">
                                <img src="<%= socials[i].img %>" title="<%= socials[i].name %>" alt="<%= socials[i].name %>"
                                     width="35px" height="35px" />
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </li>
            </ul>
        </nav>
    </footer>
    <div class="dialog-login" style="display: none">
        <div>
        <form class="dialog-body" novalidate="" id="gaia_loginform" action="<%= login.link %>" method="post">
            <div class="controls">
                <label class="control-label" for="email"><strong>Почта</strong></label>
                <input class="input-xlarge" type="email" spellcheck="false" name="email" id="email" value="">
                <p class="help-block"></p>
            </div>
            <div class="controls">
                <label class="control-label" for="passwd"><strong>Пароль</strong></label>
                <input class="input-xlarge" type="password" name="passwd" id="passwd" value="">
                <p class="help-block"></p>
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
            <div style="float: right; margin-top: 10px">
                <label class="checkbox"><input type="checkbox" id="remember-me" value="">Оставаться в системе</label>
                <input type="hidden" name="rmShown" value="1">
            </div>
        </form>
        <a id="link-forgot-passwd" href="#" target="_top">Не удается войти в аккаунт?</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var dial;
    $(window).load(function(){
        init();
        dial = createEmailDialog('.dialog-login');

    });
    $('a#login').click(function(){
        dial.dialog("open");
    });
    function createEmailDialog(elementKey) {
        var dialogForm = $(elementKey);
        function onSubmitForm() {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        dialogForm.dialog("close");
                        dialogForm.empty();
                    } else {
                        dialogForm.empty();
                        dialogForm.html(result);
                        dialogForm.dialog("open");
                    }
                }
            });
            return false;
        }

        dialogForm.dialog({
            title: "Войти",
            modal: true,
//            resizable: false,
//            closeText: 'fechar',
//            show: 'fade',
//            hide: 'fade',
            width: "350px",
            autoOpen: false,
            dialogClass: "main-dialog"
//            buttons: {
//                "Войти": function () {
//                    $("form#send-mail").submit(onSubmitForm);
//                    $("form#send-mail").submit();
//                },
//                "Отмена": function () { $(this).dialog("close"); }
//            }
        });
        return dialogForm;
    }
</script>