<% include _header.ejs %>
<h1>Галстук-бабочки</h1>
<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
    <% for(var i=0; i<content.products.length; ++i) { %>
    <div class="thumbnail product-item" itemscope itemtype="http://schema.org/Product">
        <a data-gallery="gallery"
           href="<%= content.products[i].imgPath %>"
           title="<%= content.products[i].title + '-' + content.products[i].descr +'-'+content.products[i].price %>"
           id="<%= content.products[i]._id %>">
            <img src="<%= content.products[i].imgPath %>"
                 alt="<%= content.products[i].title + '-' + content.products[i].descr %>"></a>
        <div class="caption">
            <p><span itemprop="name"><%= content.products[i].title %></span></p>
            <div itemprop="review" itemscope itemtype="http://schema.org/Review">
                <div id="raty-<%= i %>" class="estimate" data-rating="2.9779"
                    style="display: inline; cursor: pointer"
                    itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                    <% for(var iraty=1; iraty < 6 ; ++iraty) { %>
                        <img src="/img/star-<% if(iraty <= content.products[i].iRaty){ %>on<%} else {%>off<% } %>.png"
                             alt="<%= iraty %>" title="rating"
                             onmouseover="estimateSelect(<%= i %>,<%= iraty %>)"
                             onmouseout="estimateUnselect(<%= i %>,<%= iraty %>)">
                    <% } %>
                    <span class="hidden" itemprop="ratingValue">5</span>
                    <span class="hidden" itemprop="reviewCount">10</span>
                </div>

                <div class="label-info price pull-right" itemprop="offers"
                     itemscope itemtype="http://schema.org/Offer">
                    <span itemprop="price"><%= content.products[i].price %> грн.<meta itemprop="priceCurrency" content="UAH"></span>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>
<br/>
<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
    <a class="close" data-dismiss="modal"></a>
    <div class="modal-body">
        <div class="modal-body-image">
            <span class="modal-title"></span><small id="idbow" class="modal-number">номер:</small>
            <div class="modal-image"></div>
        </div>
        <div class="modal-body-content">
            <div class="">
                <div class="modal-raty"></div>
                <div class="modal-price-block">Цена: <span class="modal-price"></span></div>
                <div class="clear"></div>
                <br/>
                <h4>Описание:</h4>
                <div class="content">
                    <p id="descr"></p>
                    <ul>
                        <li>Обхват шеи: до <span id="size"></span> см</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a id="neworder" class="btn btn-inverse modal-play" title="<%= new_order.name %>" style="float: left">
            <i class="icon-play icon-shopping-cart"></i>
            <span><%= new_order.name %></span>
        </a>
        <!--<a class="btn modal-download" target="_blank">-->
            <!--<i class="icon-download"></i>-->
            <!--<span>Download</span>-->
        <!--</a>-->
        <!--<a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">-->
            <!--<i class="icon-play icon-white"></i>-->
            <!--<span>Slideshow</span>-->
        <!--</a>-->
        <a class="btn btn-info modal-prev" title="Назад">
            <i class="icon-arrow-left icon-white"></i>
            <span>Назад</span>
        </a>
        <a class="btn btn-info modal-next" title="Вперед">
            <span>Вперед</span>
            <i class="icon-arrow-right icon-white"></i>
        </a>
    </div>
</div>

<% include _scripts.ejs %>

<script src="/js/load-image.min.js"></script>
<script src="/js/bootstrap-image-gallery.js"></script>

<script type="text/javascript">
    function init(){
//        $('#raty img').mouseover(function(){ );
//        }).(function(){  });
        $('#neworder').click(function(){
            $(this).attr('href','<%= new_order.link %>' + $('#idbow').text()+ '/');
        });
        $('div.estimate img').click(function(){

        });
    }

    function estimateSelect(ibow,index){
        changeStarImage(ibow,index,'/img/star-on.png');
    }
    function estimateUnselect(ibow,index){
        changeStarImage(ibow,index,'/img/star-off.png');
    }

    function changeStarImage(ibow,index,isSelect){
    <% if(user){ %>
        var src1 = getStartImage(isSelect);
        var src2 = getStartImage(!isSelect);
        var tag = $('div#raty-'+ibow+' img[alt='+index+']');
        var count = parseInt(tag.attr('alt'));
        for(var i=1;i < 6; ++i){
            $('div#raty-'+ibow+' img[alt='+i+']').attr('src',i <= count ? src1 : src2);
        }
    <% } %>
    }
    function getStartImage(isSelect){
        return isSelect ? '/img/star-on.png' : '/img/star-off.png';
    }

</script>

<% include _footer.ejs %>
