<% include _header.ejs %>

<div class="">
    <h1>Контакты</h1>
</div>
    <div class="span6">
        <div class="well well-small">
            <p>Если у Вас есть какие-то вопросы, комментарии, предложения или жалобы, пожалуйста, заполните форму обратной связи.</p>
            <p>Также если Вы не нашли в нашем <a title="ассортимент магазина" href="<%= menu[1].link %>">ассортименте галстук-бабочек</a>
                нужную вам по типу, цвету или размеру, напишите нам
                и мы сможем изготовить галстук-бабочку учитывая все ваши пожелания.</p>
            <p>Мы приложим все усилия для того, чтобы ответить Вам максимально быстро.</p>
        </div>
        <%- content.status %>
        <form id="send-mail" class="form-horizontal" action="/contacts/send_mail/"  method="post" novalidate="novalidate">
            <fieldset>
                <legend>Обратная связь</legend>
                    <label class="control-group-header">Представьтесь, пожалуйста.</label>
                    <div class="control-group">
                        <label class="control-label" for="first-name">Фамилия*:</label>
                        <div class="controls">
                            <% if(user){ %>
                                <input type="text" class="input-xlarge" id="first-name" name="first-name" placeholder=""
                                      value="<%= user.firstName %>" />
                            <% } else { %>
                                <input type="text" class="input-xlarge" id="first-name" name="first-name" placeholder=""
                                        />
                            <% } %>
                            <!--<p class="help-block">In addition to freeform text, any HTML5 text-based input appears like so.</p>-->
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="last-name">Имя*:</label>
                        <div class="controls">
                            <% if(user){ %>
                                <input type="text" class="input-xlarge" id="last-name" name="last-name" placeholder=""
                                       value="<%= user.lastName %>" />
                            <% } else { %>
                                <input type="text" class="input-xlarge" id="last-name" name="last-name" placeholder=""
                                       >
                            <% } %>
                            <!--<p class="help-block">In addition to freeform text, any HTML5 text-based input appears like so.</p>-->
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="email">Email*:</label>
                        <div class="controls">
                            <% if(user){ %>
                            <input type="email" class="input-xlarge" name="email" id="email" placeholder=""
                                    value="<%= user.email %>" />
                            <% } else { %>
                                <input type="email" class="input-xlarge" name="email" id="email" placeholder=""
                                       >
                            <% } %>

                            <!--<p class="help-block">Aдрес Вашей эл. почты для ответа.</p>-->
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="phone">Телефон:</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" name="phone" id="phone" placeholder="">
                            <!--<p class="help-block">In addition to freeform text, any HTML5 text-based input appears like so.</p>-->
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="comments">Сообщение*:</label>
                        <div class="controls">
                            <textarea class="input-xlarge" name="comments" id="comments" rows="3"></textarea>
                        </div>
                    </div>
                <!--<div class="control-group">-->
                    <!--<label class="control-label" for="is-subscribe">Подписаться:</label>-->
                    <!--<div class="controls">-->
                        <!--<label class="checkbox">-->
                            <!--<input type="checkbox" name="is-subscribe" id="is-subscribe" value="option1">-->
                            <!--Хотите ли вы получать информацию о новинках и новостях с нашего сайта.-->
                        <!--</label>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" title="Отправить письмо">Отправить</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="span5" itemscope itemtype="http://schema.org/Organization">
        <address>
            <span class="company-name" itemprop="name">
                <a href="<%= menu[1].link %>" title="магазин галстук-бабочек 'Bow Ties Shop'">Bow Ties Shop</a>
            </span>
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="addressLocality">Украина, Одесса.</span>
            </span>
        </address>
        <address>
            <strong>Почта:</strong>
            <a title="почта" href="mailto:#"><span itemprop="email">style.bowtiew@gmail.com</span></a>
        </address>
        <address>
            <strong>В контакте:</strong>
            <a href="http://vk.com/galstuk_babochka_odessa" title="группа в контакте">galstuk_babochka_odessa</a><br>
        </address>
        <img title="галстук-бабочки" alt="галстук-бабочки" src="http://cs417318.vk.me/v417318922/52e0/GzClHWfcLxY.jpg"/>
        <div itemscope itemtype="http://schema.org/Place">
            <span class="hide" itemprop="name">Одесса</span>
            <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                <meta itemprop="latitude" content="46.28" />
                <meta itemprop="longitude" content="30.43" />
            </div>
        </div>
    </div>

<% include _scripts.ejs %>
    <script type="text/javascript" src="/js/jquery.validate.min.js"></script>

    <script type="text/javascript">
        function init(){    }
        $(window).ready(function() {
            $("#send-mail").validate({
                rules: {
                    'first-name': {
                        required: true,
                        minlength: 2
                    },
                    'last-name': {
                        required: true,
                        minlength: 2
                    },
                    comments: "required",
//                    password: {
//                        required: true,
//                        minlength: 5
//                    },
//                    confirm_password: {
//                        required: true,
//                        minlength: 5,
//                        equalTo: "#password"
//                    },
                    email: {
                        required: true,
                        email: true
                    }
//                    topic: {
//                        required: "#newsletter:checked",
//                        minlength: 2
//                    },
//                    agree: "required"
                },
                messages: {
                    'first-name': {
                        required: "Пожалуйста введите Ваше имя",
                        minlength: "Ваше имя не должно быть меньше 2-х символов"
                    },
                    'last-name': {
                        required: "Пожалуйста введите Вашу фамилию",
                        minlength: "Ваша фамилия не должна быть меньше 2-х символов"
                    },
//                    password: {
//                        required: "Please provide a password",
//                        minlength: "Your password must be at least 5 characters long"
//                    },
//                    confirm_password: {
//                        required: "Please provide a password",
//                        minlength: "Your password must be at least 5 characters long",
//                        equalTo: "Please enter the same password as above"
//                    },
                    comments: "Пожалуйста введите текст сообщения",
                    email: "Пожалуйста введите корректный почтовый адрес"
//                    agree: "Please accept our policy"
                }
            });
        });
    </script>

<% include _footer.ejs %>
