<% include _header.ejs %>
<div class="page-home">
    <!--<img src="http://b.cdn.ties.com/19401.jpg" style="width: 100%">-->
    <div class="row-fluid">
        <ul class="thumbnails">
            <li class="span3">
                <a href="<%= menu[1].link %>" class="thumbnail" title="галстук-бабочка">
                    <img data-src="holder.js/260x180" alt="галстук-бабочка" title="галстук-бабочка визкоза Франция" style="width: 260px; height: 180px;"
                         src="http://cs410419.vk.me/v410419922/7c71/zfUz9XAoenU.jpg">
                </a>
            </li>
            <li class="span3">
                <a href="<%= menu[1].link %>" class="thumbnail" title="галстук-бабочка">
                    <img data-src="holder.js/260x180" alt="галстук-бабочка" title="галстук-бабочка трикотаж-соты Франция"
                      style="width: 260px; height: 180px;"
                         src="http://cs410419.vk.me/v410419922/7c8f/sSUlV1arKrs.jpg">
                </a>
            </li>
            <li class="span3">
                <a href="<%= menu[1].link %>" class="thumbnail" title="галстук-бабочка">
                    <img data-src="holder.js/260x180" alt="галстук-бабочка" title="галстук-бабочка хлопок+шерсть Италия"
                         style="width: 260px; height: 180px;"
                         src="http://cs410419.vk.me/v410419922/7c85/Es9noG8D8n4.jpg">
                </a>
            </li>
            <li class="span3">
                <a href="<%= menu[1].link %>" class="thumbnail" title="галстук-бабочка">
                    <img data-src="holder.js/260x180" alt="галстук-бабочка" title="галстук-бабочка трикотаж соты Франция"
                         style="width: 260px; height: 180px;"
                         src="http://cs410419.vk.me/v410419922/7cc5/PZpzMUjrVao.jpg">
                </a>
            </li>
        </ul>
    </div>
    <h1>О галстуке-бабочке.</h1>
    <ul class="thumbnails">
        <li class="span10">
            <p>
                Принято считать, что галстук-бабочка является прямым потомком шейных платков, которыми хорватские наемники
                поразили французскую аристократию во время Прусской войны XVII века. Для хорватов эти платки носили чисто
                прикладной характер – они связывали вместе две стороны ворота сорочки. Однако, французы не только
                позаимствовали эту деталь одежды, но и возвели ее в ранг обязательного элемента дресс-кода – нашейный
                аксессуар стал неотъемлемой частью гардероба представителей высшего класса и в восемнадцатом, и в девятнадцатом веке.
            </p>
            <p>
                Разумеется, каждое новое поколение считало своим долгом внести изменения в форму данного аксессуара –
                таким образом появились и галстук-бабочка и традиционный галстук.
            </p>
            <p> Уверены, что многие часто задаются вопросом: где уместно носить галстук-бабочку? Наш ответ – везде!</p>
            <p> В офисе, на отдыхе, в клубе, на торжественном мероприятии – где Вашей душе угодно!<p>
            <p>
                Галстук-бабочка может быть сделан из множества материалов, таких как шелк, хлопок, шерсть, бархат.
                Даже ограничений по полу носителя больше не существует: в восьмидесятых годах многие деловые женщины стали
                носить бабочку с блузами, застегнутыми на все пуговицы.
            </p>
            <p>
                В список известных людей, приверженцев галстука-бабочки, входят такие исторические личности, как:
                Теодор Рузвельт, Чарли Чаплин, Уинстон Черчил, Фред Астор.
            </p>
        </li>
        <li class="span2">
            <img data-src="holder.js/160x120" alt="галстук-бабочки" title="галстук-бабочки лен Беларусь, хлопок+шерсть Италия"
                 src="http://cs410419.vk.me/v410419922/7d01/T2eNGS_dsAU.jpg">
        </li>
    </ul>
    <ul class="thumbnails">
        <li class="span4">
            <img data-src="holder.js/160x120" alt="галстук-бабочки" title="галстук-бабочки лен Беларусь, хлопок+шерсть Италия"
                 src="http://cs410419.vk.me/v410419922/7c67/Bzq95W1ZXQI.jpg">
        </li>
        <li class="span8">
            <p>
                В наши дни мужчина, который носит бабочку каждый день, как бы бросает вызов обществу, показывая приверженность
                традициям, отказ от следования моде, упрямство и недюжинное самомнение. Носители галстуков-бабочек считаются
                интеллектуалами, которым наплевать на общественное мнение. Мужчину, носящего галстук-бабочку, почти всегда будут
                помнить как “парня в бабочке” – именно эту деталь всегда упоминают в газетах, официальных биографиях и некрологах.
            </p>
            <p>
                Итак, если вы не боитесь показаться индивидуалистом, выделяться из толпы, быть запоминающейся фигурой и прослыть
                эксцентриком – смело сочетайте бабочку с любым повседневным look`ом. Только сделайте одолжение: научитесь завязывать
                галстук-бабочку, а добившись идеальной симметрии узла не забудьте ... слегка скривить его, чтобы было видно, что
                на вас самый настоящий завязанный вручную галстук-бабочка.
            </p>

            <p>Нашей главной идеей, было добавить оригинальность и изюминку в современный стиль смелых и уверенных в себе мужчин и женщин,
                также подчеркнуть их яркий вкус!</p>
        </li>
    </ul>
    <div style="line-height: 140%;font-size: 1.2em">
        <p>Все представленные <a title="ассортимент галстук-бабочек магазина" href="<%= menu[1].link %>">галстуки-бабочки</a>
            имеют металлический слайдер для регулировки воротника и изготовлены только из натуральных тканей.</p>
        <p>Если в представленном <a title="ассортимент магазина" href="<%= menu[1].link %>">ассортименте</a>
            Вы не найдете необходимую модель или у Вас есть свои предпочтения к расцветке и типу изделия, мы поможем
            Вам в реализации Вашей задумки.</p>

        <p> Для уточнения возможности пошива определенной модели в определенном цвете можете обращаться
            <a title="оформить заказ" href="<%= menu[2].link %>">сюда</a>.
            Срок исполнения индивидуального заказа может колебаться от 3-х до 10-и дней.</p>
        <h4>При заказе 2-ух и более бабочек скидка 10 %.</h4>
    </div>
</div>


<!--<div class="slide-show">-->
    <!--<div class="slide-container">-->
         <!--<div class="slide-show-item">-->
            <!--<img src="/img/products/5156e8408782bbb4250006f7.jpg" alt="1" width="234px" height="234px" >-->
         <!--</div>-->
         <!--<div class="slide-show-item">-->
            <!--<img src="/img/products/515706aab810d3967600078e.jpg" alt="2" width="234px" height="234px">-->
         <!--</div>-->
         <!--<div class="slide-show-item">-->
            <!--<img src="/img/products/db_file_img_4319_234x234.jpg" alt="3" width="234px" height="234px">-->
         <!--</div>-->
     <!--</div>-->
 <!--</div>-->

<% include _scripts.ejs %>
<script type="text/javascript">
    function init(){
        $('#raty img').mouseover(function(){
           changeStarImage($(this),'/img/star-on.png');
        }).mouseout(function(){
            changeStarImage($(this),'/img/star-off.png');
        });
        var i = 0;
        var array = $('div.slide-container div');
        for(var ind =0; ind < array.length; ++ind){
            $(array[ind]).css('left',i+'px');
            leftArray[ind] = i;
            i+=step;

        }
        //setTimeout(slider, 2000);
    }

//
//    var isIncrement;
//    var step = 234;
//    var index;
//    var length;
//    var current;
//    var leftArray=[];
//    function slider(){
//        var array = $('div.slide-container div');
//        var count = array.length;
//        var value = parseInt($(array[count-1]).css('left').replace('px',''));
//        var start = parseInt($(array[0]).css('left').replace('px',''));
//
//        if(start === 0){
//            current = 1;
//            index = 0;
//            length = count;
//
//            isIncrement = true;
//        }else if(value === 0){
//            index = count-1;
//            length = 0;
//            //step = -234;
//            isIncrement = false;
//            current = index;
//        }
//        var isNextWillShow = false;
//        while(true){
//            if(isIncrement && index === length || !isIncrement && index < 0){
//                index = isIncrement ? 0:count-1;
//                break;
//            }
//            var item = $(array[index]);
//            value = leftArray[index];//parseInt(item.css('left').replace('px',''));
//            if(!isNextWillShow){
//                isNextWillShow = value === 0;
//                console.log(value+ '-'+ step+'=');
//                value = isIncrement ? value - step :value + step ;
//                console.log(value);
//                item.animate({left:value+'px'},500);
//            }else{
//                item.animate({left:'0px'},500);
//                isNextWillShow = !isNextWillShow;
//                value = 0;
//            }
//            leftArray[index] = value;
//            index =  isIncrement ? index +1:index-1;
//        }
//        setTimeout(slider, 2000);
//    }
//
//    function changeStarImage(imgTag,srcUrl){
//        var count = parseInt(imgTag.attr('alt'));
//        for(var i=1;i < count; ++i){
//            $('img[alt='+i+']').attr('src',srcUrl);
//        }
//        imgTag.attr('src',srcUrl);
//    }

</script>
<% include _footer.ejs %>
