<% include _header.ejs %>
<div class="page-home">
    <img src="http://b.cdn.ties.com/19401.jpg" style="width: 100%">
    <h1></h1>
    <div class="row-fluid">
        <ul class="thumbnails">
            <li class="span3">
                <a href="<%= menu[1].link %>" class="thumbnail">
                    <img data-src="holder.js/260x180" alt="260x180" style="width: 260px; height: 180px;"
                         src="http://cs410419.vk.me/v410419922/7c71/zfUz9XAoenU.jpg">
                </a>
            </li>
            <li class="span3">
                <a href="<%= menu[1].link %>" class="thumbnail">
                    <img data-src="holder.js/260x180" alt="260x180" style="width: 260px; height: 180px;"
                         src="http://cs410419.vk.me/v410419922/7c8f/sSUlV1arKrs.jpg">
                </a>
            </li>
            <li class="span3">
                <a href="<%= menu[1].link %>" class="thumbnail">
                    <img data-src="holder.js/260x180" alt="260x180" style="width: 260px; height: 180px;"
                         src="http://cs410419.vk.me/v410419922/7c85/Es9noG8D8n4.jpg">
                </a>
            </li>
            <li class="span3">
                <a href="<%= menu[1].link %>" class="thumbnail">
                    <img data-src="holder.js/260x180" alt="260x180" style="width: 260px; height: 180px;"
                         src="http://cs410419.vk.me/v410419922/7cc5/PZpzMUjrVao.jpg">
                </a>
            </li>
        </ul>
    </div>
    <ul class="thumbnails">
        <li class="span10">
            <p>Сегодня галстук-бабочка это не только элемент дресс-кода для светских мероприятий, а модный и смелый аксессуар, который придаст красочность и неповторимость Вашему образу.</p>
            <p>Нашей главной идеей, было добавить оригинальность и изюминку в современный стиль смелых и уверенных в себе мужчин и женщин, а также подчеркнуть их яркий вкус!</p>
            <p>Все представленные галстуки-бабочки имеют металлический слайдер для регулировки воротника и изготовлены только из натуральных тканей.</p>
            <p>Если в представленном ассортименте Вы не найдете необходимую модель или у Вас есть свои предпочтения к расцветке и типу изделия, мы поможем Вам в реализации Вашей задумки.</p>

            <p> Для уточнения возможности пошива определенной модели в определенном цвете можете обращаться <a href="<%= menu[2].link %>">сюда</a>.
                Срок исполнения индивидуального заказа может колебаться от 3-х до 10-и дней.</p>
            <h4>При заказе 2-ух и более бабочек скидка 10 %.<h4>
        </li>
        <li class="span2">
                <img data-src="holder.js/160x120" alt="160x120"
                     src="http://cs410419.vk.me/v410419922/7d01/T2eNGS_dsAU.jpg">
        </li>
    </ul>
</div>


<!--<div class="slide-show">-->
    <!--<div class="slide-container">-->
         <!--<div class="slide-show-item">-->
            <!--<img src="/img/products/5156e8408782bbb4250006f7.jpg" alt="1" width="234px" height="234px" >-->
         <!--</div>-->
         <!--<div class="slide-show-item">-->
            <!--<img src="/img/products/515706aab810d3967600078e.jpg" alt="2" width="234px" height="234px">-->
         <!--</div>-->
         <!--<div class="slide-show-item">-->
            <!--<img src="/img/products/db_file_img_4319_234x234.jpg" alt="3" width="234px" height="234px">-->
         <!--</div>-->
     <!--</div>-->
 <!--</div>-->

<% include _scripts.ejs %>
<script type="text/javascript">
    function init(){
        $('#raty img').mouseover(function(){
           changeStarImage($(this),'/img/star-on.png');
        }).mouseout(function(){
            changeStarImage($(this),'/img/star-off.png');
        });
        var i = 0;
        var array = $('div.slide-container div');
        for(var ind =0; ind < array.length; ++ind){
            $(array[ind]).css('left',i+'px');
            leftArray[ind] = i;
            i+=step;

        }
        setTimeout(slider, 2000);
    }


    var isIncrement;
    var step = 234;
    var index;
    var length;
    var current;
    var leftArray=[];
    function slider(){
        var array = $('div.slide-container div');
        var count = array.length;
        var value = parseInt($(array[count-1]).css('left').replace('px',''));
        var start = parseInt($(array[0]).css('left').replace('px',''));

        if(start === 0){
            current = 1;
            index = 0;
            length = count;

            isIncrement = true;
        }else if(value === 0){
            index = count-1;
            length = 0;
            //step = -234;
            isIncrement = false;
            current = index;
        }
        var isNextWillShow = false;
        while(true){
            if(isIncrement && index === length || !isIncrement && index < 0){
                index = isIncrement ? 0:count-1;
                break;
            }
            var item = $(array[index]);
            value = leftArray[index];//parseInt(item.css('left').replace('px',''));
            if(!isNextWillShow){
                isNextWillShow = value === 0;
                console.log(value+ '-'+ step+'=');
                value = isIncrement ? value - step :value + step ;
                console.log(value);
                item.animate({left:value+'px'},500);
            }else{
                item.animate({left:'0px'},500);
                isNextWillShow = !isNextWillShow;
                value = 0;
            }
            leftArray[index] = value;
            index =  isIncrement ? index +1:index-1;
        }
        setTimeout(slider, 2000);
    }

    function changeStarImage(imgTag,srcUrl){
        var count = parseInt(imgTag.attr('alt'));
        for(var i=1;i < count; ++i){
            $('img[alt='+i+']').attr('src',srcUrl);
        }
        imgTag.attr('src',srcUrl);
    }

</script>
<% include _footer.ejs %>
