<% include _header.ejs %>

<h2>Оформление заказа</h2>
<div class="block-formsend">
    <%- content.status %>
    <form class="form-horizontal" action="<%= new_order.link %>" id="neworder" method="post">
    <fieldset>
        <legend></legend>
        <div class="control-group">
            <label class="control-label" for="first-name">Фамилия*:</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="first-name" name="first-name" placeholder=""
                       value="<%= content.user.firstName %>" >
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="last-name">Имя*:</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="last-name" name="last-name" placeholder=""
                       value="<%= content.user.lastName %>" >
                <!--<p class="help-block">In addition to freeform text, any HTML5 text-based input appears like so.</p>-->
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="email">Email*:</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="email" id="email" placeholder=""
                       value="<%= content.user.email %>">
                <!--<p class="help-block">In addition to freeform text, any HTML5 text-based input appears like so.</p>-->
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="phone">Телефон:</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="phone" id="phone" placeholder="">
                <!--<p class="help-block">In addition to freeform text, any HTML5 text-based input appears like so.</p>-->
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="comments">Комментарий:</label>
            <div class="controls">
                <textarea class="input-xlarge" name="comments" id="comments" rows="3"></textarea>
            </div>
        </div>
        <!-- if(!user){ %>-->
        <!--<div class="control-group">-->
            <!--<label class="control-label" for="is-subscribe">Подписаться:</label>-->
            <!--<div class="controls">-->
                <!--<label class="checkbox">-->
                    <!--<input type="checkbox" name="is-subscribe" id="is-subscribe" value="option1">-->
                    <!--Хотите ли вы получать информацию о новинках и новостях с нашего сайта.-->
                <!--</label>-->
            <!--</div>-->
        <!--</div>-->
        <!--} %>-->
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Отправить заказ</button>
        </div>
        <input id="order-number" name="order-number" type="text" class="hidden" value="<%= content.productId %>">
    </fieldset>
    </form>
    </div>
<div class="block-contacts">
    <img src="<%= content.productImg %>" alt="" title=""/>
    <!-- style="border-radius: 7px;width: 50%"-->
</div>


<% include _scripts.ejs %>

<script type="text/javascript">
    function init(){    }
    $(window).ready(function() {
        $("#neworder").validate({
            rules: {
                'first-name': {
                    required: true,
                    minlength: 2
                },
                'last-name': {
                    required: true,
                    minlength: 2
                },
                passwd: {
                    required: true,
                    minlength: 5
                },
                'passwd-confirm': {
                    required: true,
                    minlength: 5,
                    equalTo: "#passwd"
                },
                email: {
                    required: true,
                    email: true
                },
                phone: {
                    number: true
                }
//                    topic: {
//                        required: "#newsletter:checked",
//                        minlength: 2
//                    },
//                    agree: "required"
            },
            messages: {
                'first-name': {
                    required: "Пожалуйста введите Ваше имя",
                    minlength: "Ваше имя не должно быть меньше 2-х символов"
                },
                'last-name': {
                    required: "Пожалуйста введите Вашу фамилию",
                    minlength: "Ваша фамилия не должна быть меньше 2-х символов"
                },
                passwd: {
                    required: "Пожалуйста введите пароль",
                    minlength: "Ваш пароль не должн быть меньше 5-ти символов"
                },
                'passwd-confirm': {
                    required: "Пожалуйста подтвердите пароль",
                    minlength: "Ваш пароль не должн быть меньше 5-ти символов",
                    equalTo: "Пароли должны быть одинаковые"
                },
                email: "Пожалуйста введите корректный почтовый адрес",
                phone: "Пожалуйста введите корректный номер телефона"
            }
        });
    });
</script>

<% include _footer.ejs %>
